.header {
  background-color: #121423;
  padding: 30px 0 14px 0;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mid {
    display: flex;

    .page__text_w-600 {
      margin: 0 20px;
    }
  }
}
