header.header
    .wrapper
        .header-wrapper
            .left
                a(href="#")
                    .logo
                        img(src="assets/img/logo.svg")
            .mid
                a(href="#").page__text_w-600 Услуги
                a(href="#").page__text_w-600 Портфолио
                a(href="#").page__text_w-600 О компании
                a(href="#").page__text_w-600 Команда
                a(href="#").page__text_w-600 Отзывы
                a(href="#").page__text_w-600 Контакты
            .right
                p.page__text_w-500 Ru/En